body {
  height: 100vh;
  background-image: url("images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0px; /* 내부 여백의 상하 50px, 좌우 0으로 설정하는 코드 작성해주세요 */
}

container .pokemons {
  display: flex;
  justify-content: center;
  gap: 10px;
  justify-items: center; /* 요소들의 메인 축을 가로로 설정하는 코드를 입력해주세요 */
  width: 700px; /* 요소의 최대 가로 크기를 700px로 설정해주세요 */
  padding: 40px 20px; /* 내부 여백에 상하 40px, 좌우 20px 적용해주세요 */
  /* 그 밖에 필요한 속성들 추가 */
}

container .pokemons .pokemon {
  display: flex;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 3px solid white; /* 너비 80px, 높이 84px, 테두리를 3px 실선 하얀색으로 지정해주는 코드를 각각 작성해주세요 */
  transition: transform 0.5s ease-in-out, background-color 0.5s; /* transition 속성을 적용해주세요 */
  transform: scale(1.2); /* transform 속성을 적용해주세요 */
  background-color: black;
  background-size: cover;
  background-position: center; /* 그 밖에 필요한 속성 추가 */
}

container .pokemons .pokemon:hover {
  background-color: orange;
  border: 3px solid white; /* 마우스의 포인터를 각 요소에 올렸을때 발생하는 효과를 적용하는 코드들 작성하기 (가상 선택자 활용) */
}
container .pokemons .pokemon .image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  gap: 10px;
  padding: 20px; /* 그 밖에 필요한 속성 추가 */
}

pokemon:nth-child(1) {
  background-image: url("images/pokemon1.png");
}
pokemon:nth-child(2) {
  background-image: url("images/pokemon2.png");
}
pokemon:nth-child(3) {
  background-image: url("images/pokemon3.png");
}
pokemon:nth-child(4) {
  background-image: url("images/pokemon4.png");
}
pokemon:nth-child(5) {
  background-image: url("images/pokemon5.png");
}
pokemon:nth-child(6) {
  background-image: url("images/pokemon6.png");
}
pokemon:nth-child(7) {
  background-image: url("images/pokemon7.png");
}
pokemon:nth-child(8) {
  background-image: url("images/pokemon8.png");
}
pokemon:nth-child(9) {
  background-image: url("images/pokemon9.png");
}
pokemon:nth-child(10) {
  background-image: url("images/pokemon10.png");
}
pokemon:nth-child(11) {
  background-image: url("images/pokemon11.png");
}
pokemon:nth-child(12) {
  background-image: url("images/pokemon12.png");
}
pokemon:nth-child(13) {
  background-image: url("images/pokemon13.png");
}
pokemon:nth-child(14) {
  background-image: url("images/pokemon14.png");
}
pokemon:nth-child(15) {
  background-image: url("images/pokemon15.png");
}
pokemon:nth-child(16) {
  background-image: url("images/pokemon16.png");
}
pokemon:nth-child(17) {
  background-image: url("images/pokemon17.png");
}
pokemon:nth-child(18) {
  background-image: url("images/pokemon18.png");
}
pokemon:nth-child(19) {
  background-image: url("images/pokemon19.png");
}
pokemon:nth-child(20) {
  background-image: url("images/pokemon20.png");
}
pokemon:nth-child(21) {
  background-image: url("images/pokemon21.png");
}
pokemon:nth-child(22) {
  background-image: url("images/pokemon22.png");
}
pokemon:nth-child(23) {
  background-image: url("images/pokemon23.png");
}
pokemon:nth-child(24) {
  background-image: url("images/pokemon24.png");
}
pokemon:nth-child(25) {
  background-image: url("images/pokemon25.png");
}
pokemon:nth-child(26) {
  background-image: url("images/pokemon26.png");
}
pokemon:nth-child(27) {
  background-image: url("images/pokemon27.png");
}
pokemon:nth-child(28) {
  background-image: url("images/pokemon28.png");
}
pokemon:nth-child(29) {
  background-image: url("images/pokemon29.png");
}
pokemon:nth-child(30) {
  background-image: url("images/pokemon30.png");
}
pokemon:nth-child(31) {
  background-image: url("images/pokemon31.png");
}
pokemon:nth-child(32) {
  background-image: url("images/pokemon32.png");
}

container .logo {
  width: 100px;
  height: auto;
  margin: 0 auto; /* 이미지 요소가 너무 크네요! 요소의 최대 가로 크기를 임의로 설정해주세요 */
  /* margin을 이용해서 요소를 가운데 정렬 해주세요  */
}

container .logo img {
  width: 100px;
}
/* width를 이용해서 로고를 부모 요소의 최대 너비에 맞춰서 출력할 수 있는 코드 작성해주세요 */
