body {
	height: 100vh;
	background-image: url(./images/background.jpeg);
	background-color: #ff9c00;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container {
	padding: 50px 0px 50px 0px;
}

.container .pokemons {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	max-width: 700px;
	padding: 40px 20px 40px 20px;
	margin: 0 auto;
	flex-direction: row;
}

.container .pokemons .pokemon {
	display: flex;
	box-sizing: border-box;
	width: 80px;
	height: 84px;
	border: 5px solid white;
	align-items: flex-start;
	justify-content: center;
	transform: scale(1);
	transition: all 2s;
	background-color: black;
	position: relative;
	transform: skew(-12deg);
}

.container .pokemons .pokemon .image :hover {
	display: flex;
	transition: all 0.4s;
	background-color: #ff9c00;
	z-index: 19;
}

.container .pokemons .pokemon .image {
	width: 140%;
	height: 100%;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90px;
	background-color: blueviolet;
}

.container .pokemons .pokemon .image:nth-child(1) {
	background-image: url(./images/pokemon1.png)
}
.container .pokemons .pokemon .image:nth-child(2) {
	background-image: url(./images/pokemon2.png)
}
.container .pokemons .pokemon .image:nth-child(3) {
	background-image: url(./images/pokemon3.png)
}
.container .pokemons .pokemon .image:nth-child(4) {
	background-image: url(./images/pokemon4.png)
}
.container .pokemons .pokemon .image:nth-child(5) {
	background-image: url(./images/pokemon5.png)
}
.container .pokemons .pokemon .image:nth-child(6) {
	background-image: url(./images/pokemon6.png)
}
.container .pokemons .pokemon .image:nth-child(7) {
	background-image: url(./images/pokemon7.png)
}
.container .pokemons .pokemon .image:nth-child(8) {
	background-image: url(./images/pokemon8.png)
}
.container .pokemons .pokemon .image:nth-child(9) {
	background-image: url(./images/pokemon9.png)
}
.container .pokemons .pokemon .image:nth-child(10) {
	background-image: url(./images/pokemon10.png)
}
.container .pokemons .pokemon .image:nth-child(11) {
	background-image: url(./images/pokemon11.png)
}
.container .pokemons .pokemon .image:nth-child(12) {
	background-image: url(./images/pokemon12.png)
}
.container .pokemons .pokemon .image:nth-child(13) {
	background-image: url(./images/pokemon13.png)
}
.container .pokemons .pokemon .image:nth-child(14) {
	background-image: url(./images/pokemon14.png)
}
.container .pokemons .pokemon .image:nth-child(15) {
	background-image: url(./images/pokemon15.png)
}
.container .pokemons .pokemon .image:nth-child(16) {
	background-image: url(./images/pokemon16.png)
}
.container .pokemons .pokemon .image:nth-child(17) {
	background-image: url(./images/pokemon17.png)
}
.container .pokemons .pokemon .image:nth-child(18) {
	background-image: url(./images/pokemon18.png)
}
.container .pokemons .pokemon .image:nth-child(19) {
	background-image: url(./images/pokemon19.png)
}
.container .pokemons .pokemon .image:nth-child(20) {
	background-image: url(./images/pokemon20.png)
}
.container .pokemons .pokemon .image:nth-child(21) {
	background-image: url(./images/pokemon21.png)
}
.container .pokemons .pokemon .image:nth-child(22) {
	background-image: url(./images/pokemon22.png)
}
.container .pokemons .pokemon .image:nth-child(23) {
	background-image: url(./images/pokemon23.png)
}
.container .pokemons .pokemon .image:nth-child(24) {
	background-image: url(./images/pokemon24.png)
}
.container .pokemons .pokemon .image:nth-child(25) {
	background-image: url(./images/pokemon25.png)
}
.container .pokemons .pokemon .image:nth-child(26) {
	background-image: url(./images/pokemon26.png)
}
.container .pokemons .pokemon .image:nth-child(27) {
	background-image: url(./images/pokemon27.png)
}
.container .pokemons .pokemon .image:nth-child(28) {
	background-image: url(./images/pokemon28.png)
}
.container .pokemons .pokemon .image:nth-child(29) {
	background-image: url(./images/pokemon29.png)
}
.container .pokemons .pokemon .image:nth-child(30) {
	background-image: url(./images/pokemon30.png)
}
.container .pokemons .pokemon .image:nth-child(31) {
	background-image: url(./images/pokemon31.png)
}
.container .pokemons .pokemon .image:nth-child(32) {
	background-image: url(./images/pokemon32.png)
}

.container .logo {
	max-width: 50px;
	margin: 0 auto;
}

.container .logo img {
	width: 100%;
}
